.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;
}
.search-parent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.search-card {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    border: 1px solid darkolivegreen;
    border-radius: 20px;
}
#userquery {
    height: 40px;
    width: 160px;
    border-radius: 10px;
    padding: 10px;
}